<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>File Upload Application</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>

	<form th:action="@{/login}" method="post">

		<label>
			<center>
				<H1>Login Page</H1>
			</center>

		</label>

		<div>
			<center>
				<label> User Name : <input type="text" name="username" />
				</label>
			</center>
		</div>
		<div>
			<center>
				<label> Password : <input type="password" name="password" />
				</label>
			</center>
		</div>

		<div>
			<center>
				<input type="submit" value="Sign In" />
			</center>
		</div>

	</form>
</body>
</html>