<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	form id="list_of_user" method="post" action="user_list.php"
	accept-charset='UTF-8'>

	<h2>Table Example</h2>
	<p>&nbsp;</p>
	<table width="729" border="0">
		<tr valign="center">
			<td width="85" valign="center">User:</td>
			<td width="196" valign="center"><select name="type_user">
					<option value="TELLER" selected="selected">TELLER</option>
					<option value="MANAGER">MANAGER</option>
			</select></td>
			<td width="97" valign="center"><input name="Go" type="submit"
				id="Go" value="Go" /></td>
		</tr>
	</table>
</body>
</html>

